* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 1.75em;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.section {
  position: relative;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.title {
  position: absolute;
  top: -10px;
  right: -10px;
  border: 1px solid black;
  padding: 5px;
}

@media (min-width: 992px) {
  .section {
    width: calc(100% / 3 - 20px);
    float: left;
    background-color: lightblue;
    color: black;
    font-family: Arial, sans-serif; /* optional */
    font-size: 1.25em; /* optional */
  }

  .title {
    background-color: blue;
    color: white;
    font-size: 1.5625em; /* optional */
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section {
    width: calc(100% / 2 - 20px);
    float: left;
    background-color: lightgreen;
    color: black;
    font-family: Arial, sans-serif; /* optional */
    font-size: 1.25em; /* optional */
    
 }

 .title {
   background-color:green; 
   color:white; 
   font-size:1.5625em; /* optional */
 }
}

@media (max-width:767px) {
   .section {
     width: calc(100% -20px);
     background-color: lightpink;
     color:black; 
     font-family: Arial, sans-serif; /* optional */
     font-size:1.25em; /* optional */
   }

   .title {
     background-color:pink; 
     color:white; 
     font-size:1.5625em; /* optional */
   }
}
