/* common styles for all sections */
.section {
  box-sizing: border-box;
  border: 1px solid black;
}

/* common styles for all section titles */
.title {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
}

/* styles for desktop view */
@media (min-width: 992px) {
  .section {
    width: 33%;
    float: left;
    margin: 10px;
    padding: 10px;
    background-color: lightblue;
  }
  
  .title {
    background-color: yellow;
  }
}

/* styles for tablet view */
@media (min-width: 768px) and (max-width: 991px) {
  .section {
    width: 50%;
    float: left;
    margin: 10px;
    padding: 10px;
    background-color: lightgreen;
  }
  
  #section3 {
    width: 100%;
    clear: both; /* prevent floating elements on both sides */
  }
  
  .title {
    background-color: pink;
  }
}

/* styles for mobile view */
@media (max-width: 767px) {
   .section {
    width: 100%;
    float: none;
    margin: 10px;
    padding: 10px;
    background-color: lightgray;
  }
  
  .title {
    background-color: orange;
  }
}
